h1 {
  color: blue;
}
.red {
  color: rgb(255, 0, 0);
}
.orange {
  color: rgb(255, 128, 0);
}
.yellow {
  color: yellow;
}
.green {
  color: #008000;
}
.blue {
  color: rgb(0, 0, 255);
}

.indigo {
  color: rgb(75, 0, 130);
}
.violet {
  color: rgb(148, 0, 211);
}

.trapezio {
  border-bottom: 70px solid #c1c1c1;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  height: 0;
  width: 500px;
}

.trapezioinvertido {
  border-top: 70px solid #c1c1c1;
  border-left: 30px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 120px;
}

.paralelograma {
  width: 150px;
  height: 70px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: #c1c1c1;
}

.fundovermelho {
  background-color: rgb(255, 0, 0);
}

.fundolaranja {
  background-color: orange;
}

.fundoverde {
  background-color: #008900;
}
.fundocinza {
    background-color: #c1c1c1;

}
